# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency folders
node_modules

# Only ignore main .env, NOT .env.production or .env.development
.env
!.env.production
!.env.development

# Build output folders
/server/dist    # Ignore server build
!client/dist    # Allow client dist for deployment
dist-ssr
*.local

# Build folders
!/client/build  # Allow client build (for CRA if ever used)
